* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    color: #333;
    background-color: #f8f8f8;
}

.hide {
    display: none;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.files {
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: 450px;
    height: 450px;
    text-align: center;
    overflow-y: auto;
    
}

.files__title {
    font-weight: 300;
    margin: 2rem 0 1rem 0;
    font-size: 1.3rem;
}

.files__choose_files {
    margin-top: 1rem;
    font-size: 2rem;
}

.files__processing_files {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.files__processing_file {
    width: 100px;
    height: 100%;
    background-size: contain;
    cursor: pointer;
    margin: 1rem;
}

.files__processing_file_image {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.files__processing_file_info {
    text-align: center;
    margin-top: 0.3rem;
}

.files__processing_file_name {
    font-size: 0.8rem;
    word-wrap: break-word;
}

.files__processing_file_size {
    font-size: 0.7rem;
    margin-top: 0.2rem;
    font-style: italic;
}

.files__processing_file_status {
    font-size: 0.7rem;
    margin-top: 0.2rem;
    font-style: italic;
    color: #4285f4;
}


.received_files {
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: 450px;
    height: 450px;
    text-align: center;
    overflow-y: auto;
}

.received_files__title {
    font-weight: 300;
    margin: 2rem 0 1rem 0;
    font-size: 1.3rem;
}

.received_files__files {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.received_files__file {
    width: 100px;
    height: 100%;
    background-size: contain;
    cursor: pointer;
    margin: 1rem;
}

.received_files__image {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.received_files__info {
    text-align: center;
    margin-top: 0.3rem;
}

.received_files__name {
    font-size: 0.8rem;
    word-wrap: break-word;
}

.received_files__size {
    font-size: 0.7rem;
    margin-top: 0.2rem;
    font-style: italic;
}

.available-peers__heading {
    text-align: center;
    margin-bottom: 0.7rem;
    font-weight: 300;
}

.available-peers__personal-name {
    text-align: center;
    margin-bottom: 2.3rem;
    font-size: 0.8rem;
}

.available-peers__peers {
    display: flex;
    justify-content: center;
}

.available-peers__peer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 0 1rem;
}

.available-peers__circle {
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-peers__name {
    margin-top: 0.5rem;
}