* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    color: #333;
}

.hide {
    display: none;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.files {
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: 450px;
    height: 450px;
    text-align: center;
}

.files__title {
    font-weight: 300;
    margin: 2rem 0 1rem 0;
}


.received_files {
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: 450px;
    height: 450px;
    text-align: center;
}

.received_files__title {
    font-weight: 300;
    margin: 2rem 0 1rem 0;
}

.received_files__files {
    display: flex;
    padding: 1rem;
}

.received_files__file {
    width: 100px;
    height: 100px;
    background-size: contain;
    cursor: pointer;
}


.available-peers__heading {
    text-align: center;
    margin-bottom: 0.7rem;
    font-weight: 300;
}

.available-peers__personal-name {
    text-align: center;
    margin-bottom: 2.3rem;
    font-size: 0.8rem;
}

.available-peers__peers {
    display: flex;
    justify-content: center;
}

.available-peers__peer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 0 1rem;
}

.available-peers__circle {
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-peers__name {
    margin-top: 0.5rem;
}